*{
  margin:0;
  padding:0;
}

:root{
  --primary-color: #6662C9;
  --secondary-color: #F5F5FA;
  --btn-primary-color: #5047F5;
  --btn-secondary-color: #000;
}

/* Header */
header{
  background-color: var(--primary-color);
  position: sticky; /*Keeps header in one place*/
  top: 0; /*Keeps header in one place*/
}

header img{
  height:20px;
  padding: 20px 0;
  padding-left: 70px;
}

.navbar .flex{
  justify-content: space-between;
}

.navbar ul{
  display: flex;
  list-style: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  color: var(--secondary-color);
  padding:10px;
  margin:10px;
}

.navbar a{
  color: #fff;
  padding:10px;
  margin:10px;
  text-decoration:none;
}

.navbar .btn{
  margin-right: 90px;
  padding: 3px 20px;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Showcase */
.showcase{
  display: flex;
  background-image: url(/Images/kippa-showcase.jpg);
  color:var(--secondary-color);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  max-height: 600px;
  padding-top: 80px;
  padding-left: 50px;
  position: relative;
  border-bottom-left-radius: 10rem;
  border-bottom-right-radius: 10rem;
  background-size: contain;
}

.showcase::after{
  content:'';
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  z-index: 1;
  box-shadow: inset 120px 100px 100px rgb(20, 20, 66), inset -120px -200px 100px rgb(20, 20, 66);
  border-bottom-right-radius: 30%;
  border-bottom-left-radius: 30%;
}

.showcase h1{
  font-size: 70px;
  z-index: 2;
}

.showcase img {
  height:800px;
  z-index: 2;
}


/* View */
.view{
  background-color: var(--secondary-color);
  padding: 50px 0;
  padding-left: 70px;
  margin-top: 100px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.view h1{
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 35px;
  padding-top: 50px;
}

.view h2{
  text-align: center;
  color: #040446;
  padding-top: 40px;
}
.view h3{
  text-align: center;
  color:#807e7e;
  padding-top: 5px;
}

.view span{
  color: var(--btn-primary-color);
}

.form {
  padding: 10px 20px;
  margin: 7px;
  margin-right: 0;
  cursor: pointer;
  border-radius: 0.5em;
}


/* Control */
.control{
  display: flex;
  margin-top: 50px;
  align-items: start;
  padding: 0 400px;
}

.control h6{
  color: red;
}

.control img {
  height: 60vh;
  animation-name: control;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  position: relative;
}

@keyframes control {
  0% {left: -1000px;}
  100% {left: 0;}
}

.control-text{
  color:#807e7e;
  animation-name: control-text;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  position: relative;
}

@keyframes control-text {
  0% {right: -1000px;}
  100% {right: 0;}
}

.control .btn {
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.control .btn:hover{
  opacity: 0.9;
  color: #fff;
  background-color: var(--btn-primary-color);
}

/* Invoice and Reminder */
.invoice,
.reminder {
  flex-direction: row-reverse;
}

.invoice h6,
.reminder h6{
  color: green;
}


/*  Second show case*/
.showcase-2 {
  background-image: url(/Images/kippa-showcase-2.jpg);
  color:var(--secondary-color);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 100px 20px;
  margin: 100px 0;
  text-align: center;
  background-size: contain;
}

.showcase-2 img {
  height:800px;
}


/* Footer */
.footer-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 50px 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  line-height: 1.5rem;
}

.footer-grid h5 {
  color: grey;
}

/* Utilities */

.btn{
  display: inline-block;
  background-color: var(--btn-primary-color);
  color: #fff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 0.5em;
}

.btn:hover{
  background-color: var(--secondary-color);
  color:black;
}


.btn-container{
  display: inline;
  margin-left: -10px;
}

.sec {  
  background-color: #000;
} /*The black buttons*/


/* Flex and card */
.flex{
  display:flex;
}

.card{
  background-color: var(--secondary-color);
  width: 300px;
  border: 1rem;
  margin: 5px;
  border-width: 1px;
  border-radius: 1rem;
}

/* Text sizes */
.text-xl{
  font-size: 2rem;
}
.text-lg{
  font-size: 1.8rem;
  font-weight: bold;
  color: black;
}
.text-md{
  font-size: 1.5rem;
}
.text-sm{
  font-size: 1.2rem;
}

@media (max-width: 700px) {   
  header {
    position: relative;
  }

  header .btn {
    width: 20vw;
    height: 8vh;
    align-self: center;
    margin-left: 60px;
  }

  .navbar img{
    height: auto;
    width: 30vw;
    align-self: center;
    padding-left: 20px;
  }

  .flex {
    display: flex;
    flex-direction: column;
  }

  .showcase {
    flex-direction: column;
    height: 80vh;
    box-shadow: inset 60px 60px 60px rgb(20, 20, 66), inset -60px -60px 60px rgb(20, 20, 66);
  }

  .showcase h1{
    font-size: 40px;
    width: 60vw;
  }

  .showcase p {
    font-size: 20px;
    padding-top: 40px;
  }

  .showcase img {
    display: none;
  }

  .showcase::after {
    content:none;
    /* border-bottom-right-radius:none; */
  }

  .view {
    text-align: center;
    padding: auto;
  }

  .control {
    display: flex;
    flex-direction: column;
    padding: 20px;
    animation: none;
    align-items: center;
    text-align: center;
  }

  .footer-grid {
    grid-template-columns: 1fr 1fr;
    text-align: center;
  }
}